.submit {
  padding: 1rem;
  background: $c-white;

  &__btn {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 0;
    background: $c-success;
    color: $c-white;
  }
}

.admin__btn {
  margin-top: 3rem;

  & a {
    color: $c-white;
    text-decoration: none;
  }
  &--btn {
    display: inline-block;
    padding: 1rem;
    border: 0;
    background: $c-primary;
    color: $c-white

  }
}
