.submit {
  padding: 1rem;

  &__btn {
    width: 100%;
    padding: 0.5rem;
    border: 0;
    background: $c-success;
    color: $c-white;
  }
}

.admin__btn {
  margin-top: 3rem;

  &--btn {
    padding: 1rem;
    border: 0;
    background: $c-success;

    & a {
      color: $c-white;
      text-decoration: none;
    }
  }
}
