.new-input {
  width: 100%;
  border: 1px solid $c-black;
  outline: none;
  font-size: 1.5rem;

  &__box {
    width: 100%;
    background: $c-white;
  }
  &__border {
    padding: 1rem;
    border-bottom: 1px solid $c-gray;
  }
}

.button__box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &--btn {
    padding: 1rem;
    border: 0;
    background: $c-success;
    color: $c-white;
    outline: none;
    font-size: 0.7rem;

    & a {
      text-decoration: none;
      color: $c-white;
    }
  }
}
