// $c-primary: #265762;
$c-primary: #607D8B;
$c-secondary: adjust-hue(#607D8B, 120deg);
$c-white: #fff;
$c-black: #261C1B;
$c-gray: #E8E8E8;
$c-dark-gray: #261C1B;
$c-success: #607D8B;
$c-warning: #EF5350;

$m-gutter: 1rem;
$m-container: 70rem;
@import "_section";
@import "_layout";
@import "_top-nav";
@import "_reset";
@import "_card";
@import "_hero";
@import "_buttons";
@import "_admin-form";
@import "_admin-cat";
@import "_new-input";

.price {
  display: flex;
  justify-content: space-between;
  &-btn {
    padding: 0.6rem;
    border: 1px solid $c-black;
    border-right: 0;
    background: $c-gray;
    color: $c-black;
    outline: none;
  }
  &-input {

  }
}
.button-delete {
  padding: 0.6rem;
  border: 1px solid $c-white;
  background: $c-warning;
  color: $c-white;
  outline: none;
}

.link {
  color: $c-primary;
}
