$c-primary: #265762 ;
$c-secondary: adjust-hue(#265762 , 120deg);
$c-white: #fff;
$c-black: #261C1B ;
$c-gray: #E8E8E8 ;
$c-dark-gray: #261C1B ;
$c-success: #5EAB9B ;
$c-warning: #C42332 ;

$m-gutter: 1rem;
$m-container: 70rem;

@import "_section";
@import "_layout";
@import "_top-nav";
@import "_reset";
@import "_card";
@import "_hero";

.grid {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;

  &__item {
    width: 100%;
    // border: 1px solid black;

    &--head {
      margin: 0;
      padding: 1rem;
      background: #285761;
    }

    &--flex {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;

    }
    &--right {
      display: flex;
    }
  }
}
