<div class="hero">
  <h1 class="hero__content">Get Food Delivered FAST!</h1>
</div>
<div class="container">
  <div class="grid">

    <div class="grid__left">
      <div class="box">
        <div class="box__title">stuff</div>
        {{#each model as |menu|}}
        <div class="card__head">{{ menu.name }}</div>

        <div class="card__item">
          <div class="card__item--flex">
            {{#each menu.menuItems as |x|}}

            <div class="card__item--left">
              <h2 class="card__item--name">{{ x.name }}</h2>
              <p class="card__item--info">{{ x.description }}</p>
            </div>

            <div class="card__item--right">
              <p class="card__item--price">{{ x.price }}</p>
              <button class="card__item--btn">Order</button>
            </div>
            {{/each}}

          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="grid__right">
      <div class="box">

        <div class="card__head">Cart</div>

      </div>
    </div>
  </div>
</div>
