<div class="hero">
  <h1 class="hero__content">Get Food Delivered FAST!</h1>
</div>
<div class="container">
  <div class="grid menu">
    {{#each model as |menu|}}

    <div class="grid__item">
      <h2 class="grid__item--head">{{ menu.name }}</h2>

      {{#each menu.menuItems as |x|}}
      <div class="grid__item--flex">

        <div class="grid__item--left">
          <h2 class="grid__item--name">{{ x.name }}</h2>
          <p class="grid__item--info">{{ x.description }}</p>
        </div>

        <div class="grid__item--right">
          <p class="grid__item--price">{{ x.price }}</p>
          <button class="grid__item--btn">Order</button>
        </div>

      </div>

        {{/each}}
    </div>

    {{/each}}
  </div>
</div>
