<div class="hero">
  <h1 class="hero__content">Get Food Delivered FAST!</h1>
</div>
<div class="container">
  <div class="grid menu">
    {{#each model as |menu|}}

    <div class="grid__item">
      <h2 class="grid__item--head">{{ menu.name }}</h2>

      {{#each menu.menuItems as |x|}}
      <div class="grid__item--left">
        <div class="grid__item--wide">
          <p class="grid__item--name">{{ x.name }}</p>
          <p class="grid__item--price">{{ x.price }}</p>
        </div>
        <div class="grid__item--info">{{ x.description }}</div>
      </div>

      {{/each}}
      <div class="grid__item--right">
        <button class="grid__item--btn">Order</button>
      </div>
    </div>

    {{/each}}
  </div>
</div>
