<div class="container">
  <div class="admin__btn">
    <button class="admin__btn--btn" type="button" name="button">{{#link-to "admin.category.index"}}Categories{{/link-to}}</button>
  </div>
</div>
{{outlet}}
