<div class="container">
  <div class="admin__btn">
    {{#link-to "admin.category.index"}}<button class="admin__btn--btn" type="button" name="button">Categories</button>{{/link-to}}
  </div>
</div>
{{outlet}}
