{{outlet}}
<div class="container">
  <div class="grid">
    <div class="grid__left full-width">
      <div class="card">
        <div class="card__head">New Category</div>

          {{#simple-form class="new-input__box" onsubmit=(action "saveForm") as | formValues |}}
            <div class="new-input__border">
              <div class="new-input__input">
                <div class="new-input__title">Name</div>
                {{input class="new-input" type="text" value=category required=true value=formValues.name}}
              </div>
            </div>
            <div class="button__box">
              <div class="button__box--btn">
                {{#link-to "admin.category.index"}}Back{{/link-to}}
              </div>
              <button class="button__box--btn" type="submit" name="button">Submit</button>
            </div>
          {{/simple-form}}

      </div>
    </div>
  </div>
</div>
